.am-bottom-tabbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 16px;
    background-color: rgb(247, 246, 246);
    -webkit-box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.52);
    box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.25);
}

.am-bottom-tabbar-line {
    transition: left;
    left: 40%;
    width: 20%;
    top: 0;
    position: absolute;
    border-top: 2px solid rgb(47, 147, 246);
    box-sizing: border-box;
    transition: left cubic-bezier(.47, 0, .4, 1) 0.2s;
}

.am-bottom-tabbar-content {
    width: 100%;
    display: table;
    /* table-layout: fixed; */
}

.am-bottom-tabbar-content-row {
    display: table-row;
}


.am-bottom-tabbar-item {
    display: table-cell;
    text-align: center;
    color: rgb(96, 96, 96);
    transition: color cubic-bezier(.47, 0, .4, 1) 0.2s;
    position: relative;
}

.am-bottom-tabbar-item.am-active {
    color: rgb(47, 147, 246);

}


.am-bottom-tabbar-item>span {
    font-size: 2em;
    line-height: 1.5;
}

.am-bottom-tabbar-item-counter {
    height: 1.4em;
    left: calc(50% + 0.33em);
    top: calc(50% - 1em);
    font-size: 0.8em;
    position: absolute;
    min-width: 1.0em;
    border-radius: 0.7em;
    z-index: 1;
    background-color: black;
    text-align: center;
    background-color: rgb(254, 80, 81);
    line-height: 1.4em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 0.2em;
    padding-right: 0.2em;
    box-sizing: content-box;
}

.am-bottom-tabbar-item-counter:empty {
    display: none;
}