.am-navigator {}

.am-navigator-content {
    right: 100%;
    top: 0;
    bottom: 0;
    z-index: 1001;
    position: fixed;
    /* touch-action: auto; */
    overflow-y: scroll;
}

.am-navigator-content:empty {
    background-color: gray;
    width: 60vw;
}

.am-navigator-modal {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 20px;
    touch-action: none;
    opacity: 0.001;
}

.am-navigator.am-dragging {
    touch-action: none;
    user-select: none;
}


.am-navigator.am-dragging .am-navigator-modal,
.am-navigator.am-open .am-navigator-modal {
    width: 100%;
    background-color: rgb(169, 160, 170);
    z-index: 1000;
}

.am-navigator.am-open .am-navigator-modal {
    opacity: 0.5;
}