.am-message-input-left {
    position: absolute;
    left: 10px;
    bottom: 13px;
}

.am-message-input.as-message-input {
    padding-left: 50px;
}

.am-message-input .as-message-input-emoji-btn-ctn {
    left: unset;
    right: 6px;
}

.am-message-input .as-message-input-pre-ctn::after {
    height: 24px;
}


.am-message-input .as-message-input-plugin-file {
    display: none;
}

.am-message-input .as-message-input-pre-ctn {
    padding-left: 40px;
    padding-right: 15px;
    width: calc(100% - 49px);
}

.am-message-input .as-message-input-right {
    bottom: 13px;
}


.as-message-input.as-mode-edit .am-message-input-plugin-camera,
.as-message-input.as-has-text .am-message-input-plugin-camera {
    display: none;
}


.am-message-input .as-message-input-plugin-btn {
    width: 34px;
    height: 34px;
}


.am-message-input:not(.as-has-text):not(.as-focus) .am-message-input-plugin-more {
    background: linear-gradient(135deg, rgb(0, 120, 212), rgb(0, 188, 242));
    color: white;
}