.am-navigator-menu {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.am-navigator-menu-header {
    background-image: url(http://absol.cf/assets/background/188-1881044_dual-android-navigation-drawer-background.jpg);
    min-width: 12em;
    background-size: cover;
    color: white;
    box-sizing: border-box;
    padding-left: 0.625em;
    padding-top: 0.625em;
    padding-bottom: 0.625em;
    padding-right: 0.125em;
}

.am-navigator-menu .am-navigator-content {
    background-color: white;
    overflow-y: auto;
}

.am-navigator-menu-avatar-ctn {
    padding-top: 0.625em;
    padding-bottom: 0.625em;
}


.am-navigator-menu-avatar {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background-image: url(https://avatars2.githubusercontent.com/u/9133017?s=460&v=4);
    background-size: cover;
}

.am-navigator-menu-full-name {
    font-size: 1.14285714286em;
    font-weight: bold;
    white-space: nowrap;
}

.am-navigator-menu-email {}


.am-navigator-menu-group-name {
    padding-left: 0.625em;
    line-height: 2.5;
    color: rgb(104, 104, 105);
    font-weight: bold;
}



.am-navigator-menu-item {
    position: relative;
    height: 2.5em;
    padding-left: 2.92857143em;
}

.am-navigator-menu-item:active{
    background-color: rgba(169, 169, 169, 0.3 );
}




 .am-navigator-menu-item-icon-ctn {
    position: absolute;
    left: 0.625em;
    top: 0.5em;
    bottom: 0.5em;
    width: 1.5em;
    height: 1.5em;
}

.am-navigator-menu-item-icon-ctn span {
    font-size: 1.5em;
    line-height: 1;
}

.am-navigator-menu-item-text {
    font-size: inherit;
    line-height: 2.5;
}

.am-navigator-menu-group:not(:last-child) {
    border-bottom: 1px solid #ddd;
}