.am-application {
    width: 100%;
    height: 100%;
    position: relative;
}

.am-application-frameview {
    width: 100%;
    height: 100%;
}


.am-application-tabbar {
    display: none;
}

.am-application.am-show-tabbar .am-application-tabbar {
    display: block;
}

.am-application.am-show-tabbar .am-application-frameview{
    height: calc(100% - 3em);
}