.am-selectlist-item {
}

.am-selectlist-item-text-ctn {
    display: inline-block;
    vertical-align: middle;
}

.am-selectlist-item-desc-ctn {
    display: inline-block;
    vertical-align: middle;
}



.am-selectlist-item-desc {
    font-style: italic;
    line-height: 20px;
    color: rgb(80, 80, 82);
}


.am-selectlist-item-icon {
    font-size: 1.5em;
    display: inline-block;
    vertical-align: middle;
}