.am-selectlist{
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
}

.am-selectlist>.am-selectlist-item{
    display: table-row;

}
.am-selectlist>.am-selectlist-item:active {
    background-color: rgba(169, 169, 169, 0.4);
}

.am-selectlist>.am-selectlist-item.selected{
    background-color: #dfdfdf;
}


.am-selectlist>.am-selectlist-item:not(:last-child){
    border-bottom: 0.5px solid #dddddd;
}

.am-selectlist>.am-selectlist-item>.am-selectlist-item-text-ctn,
.am-selectlist>.am-selectlist-item>.am-selectlist-item-desc-ctn{
    display: table-cell;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.am-selectlist>.am-selectlist-item>.am-selectlist-item-text-ctn{
    padding-right: 5px;
    padding-left: 10px;
}

.am-selectlist>.am-selectlist-item>.am-selectlist-item-desc-ctn{
    padding-left: 5px;
    padding-right: 10px;
}


.am-selectlist{
    --text-width: auto;
}


.am-selectlist .am-selectlist-item-text-ctn{
    width: var(--text-width);
}
