.as-m-tiny-profile-block {
    /* padding-left: 0.71428571428em;
    padding-top: 0.71428571428em;
    padding-bottom: 0.71428571428em;
    padding-right: 1.42857143em;
     */
    height: 5.42857143em;
    background-color: white;
    position: relative;
    box-sizing: border-box;
    font-size: 14px;
    padding-top: 0.71428571428em;
    padding-bottom: 0.71428571428em;
    padding-left: 1.42857143em;
    font-family: Arial, Helvetica, sans-serif;
}

.as-m-tiny-profile-block-avatar {
    display: inline-block;
    vertical-align: middle;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    background-image: url(https://avatars2.githubusercontent.com/u/9133017?s=460&v=4);
    background-size: cover;
}

.as-m-tiny-profile-block-text-ctn {
    display: inline-block;
    vertical-align: middle;
    padding-left: 1.42857143em;
}


.as-m-tiny-profile-block-name {
    font-size: 1.5em;
    font-weight: 400;
}

.as-m-tiny-profile-block-desc {
    font-size: 0.8em;
}