.am-tiny-profile-block {
    height: 5.42857143em;
    background-color: white;
    position: relative;
    box-sizing: border-box;
    padding-top: 0.625em;
    padding-bottom: 0.625em;
    padding-left: 0.125em;
    font-family: Arial, Helvetica, sans-serif;
}

.am-tiny-profile-block-avatar {
    display: inline-block;
    vertical-align: middle;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    background-image: url(https://avatars1.githubusercontent.com/u/32388488?s=400&v=4);
    background-size: cover;
}

.am-tiny-profile-block-text-ctn {
    display: inline-block;
    vertical-align: middle;
    padding-left: 0.125em;
}


.am-tiny-profile-block-name {
    font-size: 1.5em;
    font-weight: 400;
}

.am-tiny-profile-block-desc {
    font-size: 0.8em;
}