html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

h1 {
    margin-top: 0;
}


.loading-act-logo {
    vertical-align: middle;
    display: inline-block;
    max-width: 80vw;
    max-height: 30vh;

}

.loading-act-logo-ctn {
    text-align: center;
    box-sizing: border-box;
    padding-top: 30vh;
}

.loading-act-progress-bar-ctn {
    position: absolute;
    left: 2em;
    right: 2em;
    bottom: 2em;
}

.am-header-bar+.activity-body {
    /*nếu trước đó có header thì trừ kích thước header ra*/
    height: calc(100% - 3em - 1px);
    overflow-y: auto;
}